@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" id="home-jumbotron">
    <h1>Delicious Delivery</h1>
    <p class="lead">Delicious Delivery is an online Food Ordering system, where users can view our Food items and make orders</p>
</div>

<div class="row">
    <div class="col-md-4 index-nav-card">
        <div class="card-bg">
            <h2>About us</h2>
            <p class="text-justify">
                Need quick and quality Meal but can't afford time to go out to buy or cook? <br />
                Delicious Delivery is an online Food Ordering system,
                where users can view our Food items and make orders
            </p>
            <p>
                @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary" })
            </p>
        </div>
        
    </div>
    <div class="col-md-4 index-nav-card">
        <div class="card-bg">
            <h2>Order It</h2>
            <p class="text-justify">
                Checkout our various Food Categories to select which to add to your cart. <br />
                Checkout is fast.
            </p>
            <p>
                @Html.ActionLink("Food Categories", "Category", "Home", null, new { @class = "btn btn-primary" })
            </p>
        </div>
        
    </div>
    <div class="col-md-4 index-nav-card">
        <div class="card-bg">
            <h2>Delivery</h2>
            <p class="text-justify">
                Our delivery system is top notch and as of now the fastest delivery in town,
                have you food delivered within 10 minutes of ordering.
            </p>
            <p>
                @Html.ActionLink("Checkout", "Checkout","ShoppingCart", null, new { @class = "btn btn-primary" })
            </p>
        </div>
        
    </div>
</div>


